* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(
    135deg,
    #5c45fd 0%,
    #161616 15%,
    #161616 35%,
    #161616 65%,
    #5c45fd 100%
  ) !important;
}

.divider-line {
  color: #fff;
}

:root {
  --color-primary: #5c45fd; /* Blue */
  --color-secondary: #161616; /* black */
  --color-badge: #212026; /* darkbackground */
  --color-grey: #969799; /* grey */
  --color-text: #f5f5f5; /* Dark white */
  --color-focus: #a89bff; /* focus purple */
}

/* mobile toggler */
.hamburger__toggle{
  position: relative;
  background-color:transparent;
  width: 60px; 
  height: 60px; 
  margin:0;
  border-radius:50%;
  border:none;
  z-index: 3;
}
.hamburger__icon,.hamburger__icon::before,.hamburger__icon::after{
  position: absolute;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  background-color: #f5f5f5;
  transition: transform 0.3 ease, top 0.3s ease, bottom 0.3s ease, opacity 0.3s ease;
}

/* position the two pseudo-elements to the very left */
.hamburger__icon::before,.hamburger__icon::after{
  content: "";
  left: 0;
}
.hamburger__icon::before{bottom: 8px;}
.hamburger__icon::after{top: 8px;}

.hamburger__toggle.cross .hamburger__icon {
  transform: rotate(45deg);
}
.hamburger__toggle.cross .hamburger__icon::before {
  transform: rotate(90deg);
  top: 0;
}
.hamburger__toggle.cross .hamburger__icon::after {
  transform: rotate(90deg);
  bottom: 0;
  top: 0;
}
.hamburger__toggle.cross .hamburger__icon,
.hamburger__toggle.cross .hamburger__icon::before,
.hamburger__toggle.cross .hamburger__icon::after {
  transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .marvel{
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .hamburger__icon{
    top: 45%;
    left: 200%;
  }
  .hamburger__toggle{
    display: none;
  }
  .nav{
    display: flex;
  }
  .redirect{
    display: none;
  }
  .nav-link-group{
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .marvel{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger__icon{
    top: 45%;
    left: 500%;
  }
  .hamburger__toggle{
    display: block;
    left: -10%;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #212026;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease;
    z-index: 2;
  }
  .menu-container.show{
    left: 0;
  }
  .nav {
    flex-direction: column;
  }
  .nav.show {
    display: flex;
  }
  .redirect{
    margin-top: 6em;
  }
}

.navbar-tre {
  position: fixed;
  width: 100%;
  top: 0;
}
.custom-section{
  margin-top: 7.75rem;
}
/* Hide navbar on scroll */
.navbar-hidden {
  top: -100px;
  transition: top 0.3s ease-out;
}

.navbar-visible {
  top: 0;
  transition: top 0.3s ease-in;
  z-index: 11;
}

.navbar-logo {
  color: #f5f5f5;
}

/* mobile toggler ends */

/* Btn */
.btn-primary {
  color: #fff;
  background-color: #5c45fd;
  border: 1px solid #5c45fd;
  transition: background-color 0.2s ease-out;
}
.btn-outline-primary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #5c45fd;
  transition: background-color 0.4s ease-out;
}
.btn-outline-secondary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #5c45fd;
  transition: background-color 0.4s ease-out;
}
.btn-outline-primary:hover {
  background-color: #644cfd;
}
.btn-outline-secondary:hover {
  background-color: #644cfd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #644cfd;
  border-color: #5c45fd;
}
.card-text-btn-custom{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.7s ease-in-out, transform 1s ease-in-out;
}
.card-text-btn-custom:hover{
  width: 50%;
  justify-content: end;
  transform: translateX(0);
}
/* Btn-ends */

.link-link {
  color: var(--color-grey);
}
.link-link:hover,
.link-link:focus {
  color: var(--color-focus);
}
.gradient-bold {
  background: linear-gradient(90deg, #a89bff 5%, #5c45fd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-logo {
  font-size: 48px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #161616;
}
.prfile-row {
  position: sticky;
  width: 100px;
  height: 60px;
}

.avatar-1 {
  top: 10%;
  left: 0%;
}

.avatar-2 {
  top: 10%;
  left: 30%;
}
.avatar-3 {
  top: 10%;
  left: 60%;
}

.int-title {
  color: #f5f5f5;
  text-align: center;
}

.star-parent {
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(70deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.star-animate {
  position: absolute;
  top: 0;
  left: 60%;
  z-index: -1;
  animation: 7s rotate infinite;
  animation-timing-function: linear;
}

.star-animate:after {
  content: "";
  position: absolute;
  top: 24%;
  left: 51%;
  z-index: -1;
  transform: rotate(45deg);
  margin: 50px auto;
}

.service-star img {
  height: 70px;
  width: 70px;
}

.service-star-parent {
  position: relative;
}

.service-star {
  position: absolute;
  top: 0;
  left: 44%;
  animation: 7s rotate infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 1440px) {
  .card-image-box img{
    min-width: 26rem;
  }
}

@media screen and (min-width: 768px) {
  .main-page-title {
    color: var(--color-text);
    font-size: 120px;
    font-weight: 500;
  }

  .main-page-text {
    color: var(--color-grey);
    font-size: 24px;
  }

  .service-title {
    color: var(--color-focus);
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 1px;
  }

  .service-inner-title {
    color: var(--color-text);
    font-size: 52px;
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  .card-image-box img {
    min-width: 20rem;
  }
}
@media screen and (max-width: 768px) {
  .main-page-title {
    color: var(--color-text);
    font-size: 60px;
    font-weight: 500;
  }

  .hamburger__icon{
    top: 45%;
    left: 75%;
  }

  .main-page-text {
    color: var(--color-grey);
    font-size: 16px;
  }

  .service-title {
    color: var(--color-focus);
  }

  .service-inner-title {
    color: var(--color-text);
  }

  .star-animate {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 20%;
    left: 60%;
    animation: 7s rotate infinite;
    animation-timing-function: linear;
  }
  
  .service-star {
    position: absolute;
    top: 0;
    left: 65%;
    animation: 7s rotate infinite;
    animation-timing-function: linear;
  }
  .card-image-box img {
    min-width: 20rem;
  }
}

/* <--  About  --> */
.title-design {
  height: 40px;
  color: #f5f5f5;
}

.logo-about {
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 500;
  text-decoration: none;
  color: #f5f5f5;
}

.logo-about {
  color: #d6d6d6;
}
/* <--  About Ends  --> */

.parentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.parentGrid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.parentGrid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.parentGrid3 {
  grid-area: 1 / 3 / 2 / 4;
}
.parentGrid4 {
  grid-area: 2 / 1 / 3 / 2;
}
.parentGrid5 {
  grid-area: 2 / 2 / 3 / 3;
}
.parentGrid6 {
  grid-area: 2 / 3 / 3 / 4;
}

@media (max-width: 1024px) {
  .parentGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .parentGrid1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .parentGrid2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .parentGrid3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .parentGrid4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .parentGrid5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .parentGrid6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (max-width: 768px) {
  .parentGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
  }

  .parentGrid1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .parentGrid2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .parentGrid3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .parentGrid4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .parentGrid5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .parentGrid6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}


.card-bg {
  background-color: var(--color-badge);
}
.card-title-customize {
  color: #f5f5f5;
  font-size: 24px;
}
.card-text-customize {
  color: #969799;
  font-size: 20px;
}

.box {
  width: 75px;
  height: 75px;
  background-color: #d6d6d6;
  border-radius: 12px;
  margin-bottom: 1.25em;
}

.card-image-box{
  border: none;
}

.card-image-box img {
  max-width: 16rem;
  height: 100%;
  object-fit: cover;
  border-radius: .5em;
  padding: 5px;
  background: linear-gradient(45deg, var(--color-focus), var(--color-primary));
  transition: transform 0.3s ease-in-out;
}

.card-image-box img:hover {
  transform: scale(1.05);
}

/*Pricing Texts*/
.card-inner-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 15px;
}

.pricing-card-text {
  color: var(--color-grey);
}

/* Card Styles */
.pricing-card-custom {
  background-color: rgba(32, 32, 32, 0.4); 
}

/*Footer*/
.footer {
  background-color: #161616;
}
.footer>h1,h2,h3,h4,h5,p,span{color: var(--color-text);}
.footer>.text-body-marvel{color: var(--color-grey)!important;}
.footer .nav-link{color: #969799!important;}

.footer-icon-badge-a{
  text-decoration: none;
}
.footer-icon-badge-a>i:hover{
  color: #5c45fd!important;
  transition: color 0.2s ease-in-out!important;
}
.text-body-marvel:hover{
  color: #5c45fd!important;
  transition: color 0.2s ease-in-out!important;
}